@charset "utf-8";
/* Обертка html */
html{overflow-y:scroll} 
body{margin: 0 auto}
*/
body{font-size:1em}
*{font-family:Arial;font-size:1em}
h2{}
td{font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;font-size:12px}
td.firstrow{}
tr.changed{background-color:#FF0}
tr{}
p,label,dt,dd,.instruction,.output{font-size:91%}
legend{font-size:70%}
dt{width:200px;font-style:italic}
dt{float:left}
.options,.method{margin-bottom:10px;padding:5px;border:1px dotted grey;background-color:#ddd}
#out{margin-bottom:20px}
form{border:1px dotted grey;padding:10px;border-color:#cdcdcd;background-color:#F6F6F6}
input.button{border:1px solid #000;font-style:italic;font-size:90%}
.to_submit{margin-top:5px;text-align:right}
textarea{font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;width:500px;height:23em;font-size:89%}
ins{background-color:#FF0}
del{background-color:#0F0}
.output{font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace}
.hide{display:none}.show{display:block} /* showHide, показать и скрыть элемент с текстом  */

/*header*/
#header1{margin-left:40px;margin-top:10px;font-size:30px;color:#000}
a{color:#000;text-decoration:none}
a.active{text-decoration:underline}
#p-logo-quick{font-size:13px;text-transform: none;margin-top:80px;color:#900;font-family:Arial;margin-left:-75px !important;}
#menu{font-size:13px;text-align:right;margin-top:-17px;margin-bottom:10px;margin-right:25px;min-width:700px}
#menu a,a:visited{color:#900;text-decoration:none}
body{background-color:#F6F6F6;background-repeat:no-repeat top;font-family:Calibri, Arial, Times New Roman;width:85%;margin-top:-17px;font-size:14px;min-width:900px}
hr{border:0;background-color:#cdcdcd;height:1px;width:98%;margin-bottom:27px;}
ul{margin-left:-20px;margin-right:-20px;text-align:center}
ul li  {
width: 20%;
display: inline-block;
/* эмуляция inline-block для IE6-7*/
//display : inline;
//zoom : 1;
}
/*logo-quick*/
div.logo-quick span{color:#000;font-family:Garamond, Georgia, 'Times New Roman';float:left;font-weight:0;text-transform:uppercase;text-indent:0}.logo-quick span:nth-child(1){font-size:290%;margin:0;color:#900}.logo-quick span:nth-child(2){font-size:150%;margin:35px 0 0 -10px}.logo-quick span:nth-child(3){font-size:150%;margin:27px 0 0 -5px}.logo-quick span:nth-child(4){font-size:100%;margin:33px 0 0 -5px}.logo-quick span:nth-child(5){font-size:150%;margin:26px 0 0 -1px}.logo-quick span:nth-child(6){font-size:150%;font-family:Verdana, Arial, Helvetica, sans-serif;margin:23px 0 0 -1px;text-transform:none}
/*xml+php-quick*/
div.diff-quick span{font-weight:600;color:#000;font-family:Garamond, Georgia, 'Times New Roman';font-size:250%;margin:0}

/*social*/
div#social { text-align: center; margin-top:20px}
div#social hr { width:98%; margin:1em auto; border:none; background:#ccc; height:1px; color:#000;text-decoration:none}
div span.social {font-size:10pt; margin-right: 1%}
/*footer*/
#footer{clear:both;width:100%;height:30px;text-align:center;padding-top:2em;font-size:65%}
#footer a{color:#000;text-decoration:none}#footer a:hover{color:#000;text-decoration:underline}
/*Псевдо футер*/
#foo p{text-align:left;margin-left:1%;padding:0;font-size:70%;color:#8C7272}
/*visit*/
#visit {text-align:right;margin-right:2%;padding:0;font-size:70%;color:#BBBBBB;margin-top:-5px}






